klien_xml.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/klien_xml/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="klien_xml" targetNamespace="http://www.example.org/klien_xml/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/klien_xml/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="nim">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="NewElement" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="mhs_inp">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="nim" type="xsd:int"></xsd:element>
      			<xsd:element name="nama" type="xsd:string"></xsd:element>
      			<xsd:element name="email" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="mhs_out">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="nim" type="xsd:int"></xsd:element>
      			<xsd:element name="nama" type="xsd:string"></xsd:element>
      			<xsd:element name="email" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="tns:mhs_inp" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="tns:mhs_out" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="klien_xml">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="klien_xmlSOAP" type="tns:klien_xml">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.example.org/klien_xml/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="klien_xml">
    <wsdl:port binding="tns:klien_xmlSOAP" name="klien_xmlSOAP">
      <soap:address location="http://localhost:1234/gb30k2mpc/gb30k2mpc/klien_xml.wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
