mahasiswa.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/mahasiswa/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="mahasiswa" targetNamespace="http://www.example.org/mahasiswa/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/mahasiswa/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="NIM" type="xsd:int" />
          	<xsd:element name="NAMA" type="xsd:string"></xsd:element>
          	<xsd:element name="EMAIL" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="mhs_input">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="NIM" type="xsd:int"></xsd:element>
      			<xsd:element name="NAMA" type="xsd:string"></xsd:element>
      			<xsd:element name="EMAIL" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="mhs_output">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="NIM" type="xsd:int">
            			</xsd:element>
            			<xsd:element name="NAMA" type="xsd:string">
            			</xsd:element>
            			<xsd:element name="EMAIL"
            				type="xsd:string">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="tns:mhs_input" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="tns:mhs_output" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="mahasiswa">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="mahasiswaSOAP" type="tns:mahasiswa">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.example.org/mahasiswa/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="mahasiswa">
    <wsdl:port binding="tns:mahasiswaSOAP" name="mahasiswaSOAP">
      <soap:address location="http://localhost/IqbalSyarifAwaludin_1144095/gb30k2mpc/mahasiswa.wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
