uts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/uts/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="uts" targetNamespace="http://www.example.org/uts/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/uts/">
      <xsd:element name="getInfoMhs" type="xsd:string">
      </xsd:element>
      <xsd:element name="getInfoMhsResponse">

      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="Mhs">
      				<xsd:complexType>
      					<xsd:sequence>
      						<xsd:element name="nim" type="xsd:int">
      						</xsd:element>
      						<xsd:element name="nama"
      							type="xsd:string">
      						</xsd:element>
      						<xsd:element name="email"
      							type="xsd:string">
      						</xsd:element>
      					</xsd:sequence>
      				</xsd:complexType>
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getInfoMhsRequest">
  </wsdl:message>
  <wsdl:message name="getInfoMhsResponse">
    <wsdl:part element="tns:getInfoMhsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="uts">
    <wsdl:operation name="getInfoMhs">
      <wsdl:input message="tns:getInfoMhsRequest"/>
      <wsdl:output message="tns:getInfoMhsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="utsSOAP" type="tns:uts">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getInfoMhs">
      <soap:operation soapAction="http://www.example.org/uts/getInfoMhs"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="uts">
    <wsdl:port binding="tns:utsSOAP" name="utsSOAP">
      <soap:address location="http://localhost:8064/uts/gb30k2mpc/server.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
