utsfirman.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/utsfirman/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="utsfirman" targetNamespace="http://www.example.org/utsfirman/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/utsfirman/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="List mahasiswaResponse">
        <xsd:complexType>
          <xsd:sequence>

          	<xsd:element name="nim" type="xsd:int"></xsd:element>
          	<xsd:element name="nama" type="xsd:string"></xsd:element>
          	<xsd:element name="email" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="List mahasiswa">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="nim" type="xsd:int"></xsd:element>
      			<xsd:element name="nama" type="xsd:string"></xsd:element>
      			<xsd:element name="email" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="List mahasiswaRequest">
    <wsdl:part element="tns:List mahasiswa" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="List mahasiswaResponse">
    <wsdl:part element="tns:List mahasiswaResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="utsfirman">
    <wsdl:operation name="List mahasiswa">
      <wsdl:input message="tns:List mahasiswaRequest"/>
      <wsdl:output message="tns:List mahasiswaResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="utsfirmanSOAP" type="tns:utsfirman">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="List mahasiswa">
  		<soap:operation
  			soapAction="http://www.example.org/utsfirman/List mahasiswa" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="utsfirman">
    <wsdl:port binding="tns:utsfirmanSOAP" name="utsfirmanSOAP">
      <soap:address location="http://localhost/uts/gb30k2mpc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
